.container {
  scale: 2;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.trafficLight {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 48px;
  height: 112px;
  background-color: black;
  border-radius: 8px;
}

.light-number {
  color: white;
  font-weight: bold;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  cursor: pointer;
  z-index: 10;
}
