.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.trafficLight {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 48px;
  height: 112px;
  background-color: black;
  border-radius: 8px;
}

.light-number {
  color: white;
  font-weight: bold;
}
