.header {
  background: white
  color: white;
  display: flex;
  align-items: center;
  max-width: 100vw;
  top: 0;
  border-bottom: 1px solid black;
}

.logo-text {
  font-family: "Arial", sans-serif;
  font-size: 24px;
  font-weight: bold;

}

.logo {
  height: 50px;
  width: auto;
}

@media (max-width: 700px) {
  .header {
    flex-direction: column;
    padding: 10px;

  }

  .logo-text {
    margin-bottom: 10px;
  }
}
